<div class="panel panel-default">
  <div class="panel-heading">
    <form>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchValue"
            [ngModelOptions]="{standalone: true}">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit" (click)="search()">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>  
  </div>
  <div class="panel-body">

    <div class="checkbox">

      <div class="col-sm-2">
        <label><input type="checkbox" value="">Option 1</label>
      </div>
      <div class="col-sm-10"> 
        <select class="form-control" id="sel1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>

      <div class="col-sm-2">
        <label><input type="checkbox" value="">Option 1</label>
      </div>
      <div class="col-sm-10"> 
        <select class="form-control" id="sel1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
      
    </div>

    settings of search
  </div>
</div>

<app-profile-list></app-profile-list>
