<accordion>
  <accordion-group heading="{{localization.items.lang}}">
    <button type="button" class="btn btn-primary btn-lg active" (click)="ruLang()">Русский</button>
    <button type="button" class="btn btn-default btn-lg active" (click)="enLang()">English</button>
  </accordion-group>
  <accordion-group heading="{{localization.items.stylenavbar}}">
    <button type="button" class="btn btn-primary btn-lg active" (click)="dark()">{{localization.items.dark}}</button>
    <button type="button" class="btn btn-default btn-lg active" (click)="white()">{{localization.items.white}}</button>
  </accordion-group>
  <accordion-group heading="{{localization.items.stylebackground}}">
    <button type="button" class="btn btn-primary btn-lg active" (click)="darkBody()">{{localization.items.dark}}</button>
    <button type="button" class="btn btn-default btn-lg active" (click)="whiteBody()">{{localization.items.white}}</button>
  </accordion-group>
</accordion>