<accordion>
  <accordion-group heading="Navbar style">
    <button type="button" class="btn btn-primary btn-lg active" (click)="dark()">Dark</button>
    <button type="button" class="btn btn-default btn-lg active" (click)="white()">White</button>
  </accordion-group>
  <accordion-group heading="Background style">
    <button type="button" class="btn btn-primary btn-lg active" (click)="darkBody()">Dark</button>
    <button type="button" class="btn btn-default btn-lg active" (click)="whiteBody()">White</button>
  </accordion-group>
</accordion>