<nav [ngClass]= "{'navbar navbar-inverse': !globalSettings.activeView, 
    'navbar navbar-default': globalSettings.activeView}">

  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">Portfl</a>
    </div>

    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="/">Home</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a *ngIf="globalSettings.authStatus==true" routerLink="/admin">Adminka</a></li>
      <li><a *ngIf="globalSettings.authStatus==true" routerLink="/profile">Profile</a></li>
      <li><a *ngIf="globalSettings.authStatus==false" routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li><a *ngIf="globalSettings.authStatus==true" routerLink="/" (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>
<br>

