<div style="position: fixed; width: 20%;">
    <div class="right-menu">
        <button mz-button [id]="'btn-sidenav-settings'" style="background: darkcyan; width: 100%;">
            <i class="material-icons">settings</i>
        </button>

        <button mz-button [id]="'btn-sidenav-search'" 
                style="background: darkcyan; margin-top: 10px; width: 100%;">
            <i class="material-icons">search</i>
        </button>
    </div>
</div>
<app-setting></app-setting>
<app-search></app-search>