<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>ColLike</th>
      <th>Rating</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.getIdUser()}}</td>
      <td>{{user.getName()}}</td>
      <td>{{user.getColLike()}}</td>
      <td>{{user.getRating()}}</td>
      <td>
        <select [(ngModel)]="user.role.rolename">
          <option *ngFor="let role of roleList" [selected]="checkStartRole(user, role)">
            {{role.getRolename()}}
          </option>
        </select>
      </td>
    </tr>

    <tr>
       <td></td><td></td><td></td><td></td>
       <td class="save-icon-td"> 
        <i [ngClass]="['material-icons','save-icon']" (click)="saveRoles()">save</i> 
      </td>
    </tr>

  </tbody>
<table>

