<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>YearOfBirth</th>
      <th>Weight</th>
      <th>Height</th>
      <th>Sex</th>
      <th>TypesOfPhotography</th>
      <th>Rating</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.getIdUser()}}</td>
      <td>{{user.getName()}}</td>
      <td>{{user.getYearOfBirth()}}</td>
      <td>{{user.getWeight()}}</td>
      <td>{{user.getHeight()}}</td>
      <td>{{user.getSex()}}</td>
      <td>{{user.getTypesOfPhotography()}}</td>
      <td>{{user.getRating()}}</td>
      <td>{{user.getRole()}}</td>
    </tr>
  </tbody>
<table>
