<form>
  
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input id="email" type="text" class="form-control" name="email" placeholder="Email"
        [(ngModel)]="login">
  </div>

  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
    <input id="password" type="password" class="form-control" name="password" placeholder="Password"
          [(ngModel)]="password">
  </div>

  <div class="input-group">
    <span class="input-group-addon">Name</span>
    <input id="msg" type="text" class="form-control" name="name" placeholder="Name"
          [(ngModel)]="profile.name">
  </div>

  <div class="input-group">
    <span class="input-group-addon">Birth</span>
    <input id="msg" type="text" class="form-control" name="yearOfBirth" placeholder="year of birth"
          [(ngModel)]="profile.yearOfBirth">
  </div>

  <div class="input-group">
    <span class="input-group-addon" >Weight</span>
    <input id="msg" type="text" class="form-control" name="weight" placeholder="weight"
          [(ngModel)]="profile.weight">
  </div>

  <div class="input-group">
    <span class="input-group-addon">Height</span>
    <input id="msg" type="text" class="form-control" name="height" placeholder="height"
          [(ngModel)]="profile.height">
  </div>

  <div class="input-group">
    
    <span class="input-group-addon">Sex</span>

    <div class="btn-group" dropdown container="body">
      <button dropdownToggle type="button" class="btn btn-primary dropdownToggle">
        {{selectedSex}} <span class="caret"></span>
      </button>
      <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li *ngFor="let sex of arraySex" role="menuitem" (click)="setSex(sex)">
          <a class="dropdown-item" >{{sex.getName()}}</a>
        </li>
      </ul>
    </div>

  </div>

  <div class="input-group">
    
    <span class="input-group-addon">Photo</span>

    <div class="btn-group" dropdown container="body">
      <button dropdownToggle type="button" class="btn btn-primary dropdownToggle">
        {{selectedTypeOfPhoto}} <span class="caret"></span>
      </button>
      <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li *ngFor="let photo of arrayTypeOfPhoto" role="menuitem" (click)="setTypeOfPhoto(photo)">
          <a class="dropdown-item" >{{photo.getText()}}</a>
        </li>
      </ul>
    </div>
    
  </div>

  <div class="input-group" *ngIf="!stateLoad">
    <div ng2FileDrop
          [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}"
          (fileOver)="fileOverAnother($event)"
          [uploader]="uploader"
          class="well my-drop-zone">
       Drop zone
    </div>
  </div>

  <div *ngIf="stateLoad">
    Downloading:
    <div class="progress" style="">
        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
    </div>
  </div>

  <alert class="alert" *ngIf="errorState" type="danger">
    <strong>AZAZ</strong> vsio ochen ploha.
  </alert>
  
  <div class="input-group">
    <button type="button" class="btn btn-primary" (click)="singup()">singup</button>
  </div>  
  
</form>