.input-group {
    margin-top: 20px;
    margin-bottom: 10px;
}

.my-drop-zone { border: dotted 3px lightgray; }
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }

html, body { height: 100%; }

.dropdown-menu {
    width: 100%;
}

.dropdown-item {
    width: 100%;
}

.btn-group {
    width: 100%;
}

.btn {
    width: 100%;
    background-color: darkgrey;
}