<div class="header-profile">
  <div [ngClass]="'header-image'">
    <img [src]="images[0].getUrl()" class="img-circle" height="150">
  </div>
  <div [ngClass]="'header-info'">
    Name: {{profile.getName()}} <br>
    Year of birth: {{profile.getYearOfBirth()}} <br>
    Weight: {{profile.getWeight()}} <br>
    Height: {{profile.getHeight()}} <br>
    Sex: {{profile.getSex()}} <br>
    Types of photography: {{profile.getTypesOfPhotography()}}
  </div>
  <div style="clear: both;"></div>
  <div style="margin-left: 20px;">
    <rating [(ngModel)]="profile.rating" [max]="10" [readonly]="true"></rating> 
  </div>
</div>

<tabset  [justified]="true">

  <tab heading="Table">
    <template tabHeading>
        <img src="http://res.cloudinary.com/mycloudfortask5/image/upload/table_k9bhqo.ico" height="20px" />
    </template>

    <div class="container-fluid">
      <div class="row" dnd-sortable-container [dropZones]="['drops-zone']" [sortableData]="images">
          <div *ngFor="let image of images; let i = index;" 
              class="image-block col-sm-4" 
              (click)="showChildModal(image)"
              [ngStyle]="{'background': 'url(' + image.getUrl() + ') no-repeat center top', 'background-size': 'cover'}"
              dnd-sortable [sortableIndex]="i">
            <p> Image Info </p>
          </div>
      </div>
    </div>
  </tab>

  <tab heading="Tile">
    <template tabHeading>
        <img src="http://res.cloudinary.com/mycloudfortask5/image/upload/plitka_quszxl.ico" height="20px" />
    </template>

    <div class="container-fluid">
      <div class="row" dnd-sortable-container [dropZones]="['drops-zone']" [sortableData]="images">
        <div *ngFor="let image of images; let i = index;" 
            [ngClass]="{'image-block': true, 'col-sm-4': !checkTile(i), 'col-sm-8': checkTile(i) }" 
            (click)="showChildModal(image)"
            [ngStyle]="{'background': 'url(' + image.getUrl() + ') no-repeat center top', 'background-size': 'cover'}"
            dnd-sortable [sortableIndex]="i">
          <p> Image Info </p>
        </div>
      </div>
    </div>

  </tab>

  <tab heading="Slide">
    <template tabHeading>
        <img src="http://res.cloudinary.com/mycloudfortask5/image/upload/slide_cam15t.ico" height="20px" />
    </template>
    <carousel [ngClass]="'col-sm-12'" >
      <slide *ngFor="let image of images">
        <img [src]="image.getUrl()" width="100%">
      </slide>
    </carousel>
  </tab>

</tabset>


<button class="button-upload" (click)="showImageUploadModal()"> upload new image </button>

<div bsModal #imageAdminModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Image</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img [src]="selectImage.getUrl()" width="50%"/>
      </div>
    </div>
  </div>
</div>

<div bsModal #imageUploadModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Uploading</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideImageUploadModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div ng2FileDrop
            [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}"
            (fileOver)="fileOverAnother($event)"
            [uploader]="uploader"
            class="well my-drop-zone">
          Drop zone
      </div>
      <div *ngFor="let item of uploader.queue">
        <div>File for upload: {{item.file.name}}</div>
      </div>
      <div class="tags-div">
        <rl-tag-input [(ngModel)]="tags" placeholder="+ Tag"></rl-tag-input>
      </div>
      <div class="button-upload-div">
        <button class="button-upload" (click)="uploadNewImageWithTags()">Upload</button>
      </div>
    </div>
  </div>
</div>