<div [ngClass]="header-profile">
  <div [ngClass]="{'header-image': false, 'col-sm-6': true}" style="text-align: center;">
    <img [src]="images[0].getUrl()" class="img-circle" height="250" width="250">
  </div>
  <div [ngClass]="{'header-info': false, 'col-sm-6': true}">
    <table class="table">
      <tr> <td> {{localization.items.name}}: </td><td> <input [(ngModel)]="profile.name" /> </td></tr>
      <tr> <td> {{localization.items.birth}}: </td><td> <input [(ngModel)]="profile.yearOfBirth" /> </td></tr>
      <tr> <td> {{localization.items.weight}}: </td><td> <input [(ngModel)]="profile.weight" /> </td></tr>
      <tr> <td> {{localization.items.height}}: </td><td> <input [(ngModel)]="profile.height" /> </td></tr>
      <tr> <td> {{localization.items.sex}}: </td><td> 
        <select [(ngModel)]="selectSex">
          <option *ngFor="let sex of sexList" [selected]="checkStartSex(sex.getName())" >{{sex.getName()}}</option>
        </select>  
      </td></tr>
      <tr> <td> {{localization.items.photo}}: </td><td> 
        <select [(ngModel)]="selectPhoto">
          <option *ngFor="let photo of photoList" [selected]="checkStartPhoto(photo.getText())" >{{photo.getText()}}</option>
        </select>
      </td></tr>
      <tr> <td> </td><td class="save-icon-td"> 
        <i [ngClass]="['material-icons','save-icon']" (click)="saveProfile()">save</i> 
      </td></tr>
    </table>
  </div>
  <div style="clear: both;"></div>
  <div style="margin-left: 20px;">
    <rating [(ngModel)]="profile.rating" [max]="10" [readonly]="true"></rating> 
  </div>
</div>

<tabset  [justified]="true">

  <tab heading="{{localization.items.table}}">
    <template tabHeading>
        <img src="http://res.cloudinary.com/mycloudfortask5/image/upload/table_k9bhqo.ico" height="20px" />
    </template>

    <div class="container-fluid">
      <div class="row" dnd-sortable-container [dropZones]="['drops-zone']" [sortableData]="images" 
          (dragend)="onDragEnd($event)">
        <div *ngFor="let image of images; let i = index;" 
            class="image-block col-sm-4" 
            (click)="showChildModal(image)"
            [ngStyle]="{'background': 'url(' + image.getUrl() + ') no-repeat center top', 'background-size': 'cover'}"
            dnd-sortable [sortableIndex]="i"> 
          <p> </p>
        </div>
      </div> 
    </div>
  </tab>

  <tab heading="{{localization.items.tile}}">
    <template tabHeading>
        <img src="http://res.cloudinary.com/mycloudfortask5/image/upload/plitka_quszxl.ico" height="20px" />
    </template>

    <div class="container-fluid">
      <div class="row" dnd-sortable-container [dropZones]="['drops-zone']" [sortableData]="images">
        <div *ngFor="let image of images; let i = index;" 
            [ngClass]="{'image-block': true, 'col-sm-4': !checkTile(i), 'col-sm-8': checkTile(i) }" 
            (click)="showChildModal(image)"
            [ngStyle]="{'background': 'url(' + image.getUrl() + ') no-repeat center top', 'background-size': 'cover'}"
            dnd-sortable [sortableIndex]="i">
          <p> </p>
        </div>
      </div>
    </div>

  </tab>

  <tab heading="{{localization.items.slide}}">
    <template tabHeading>
        <img src="http://res.cloudinary.com/mycloudfortask5/image/upload/slide_cam15t.ico" height="20px" />
    </template>
    <carousel [ngClass]="'col-sm-12'" >
      <slide *ngFor="let image of images">
        <img [src]="image.getUrl()" width="100%">
      </slide>
    </carousel>
  </tab>

</tabset>


<button class="button-upload" (click)="showImageUploadModal()"> {{localization.items.uploadnewimage}} </button>

<div bsModal #imageAdminModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div [ngClass]="['comments-image']">
          <img [src]="selectImage.getUrl()" width="100%"/>
        </div>
        <div [ngClass]="['comments-modal']">
          <div [ngClass]="['comments-list','col-sm-12']">
            <div *ngFor="let comment of comments">
              <p>
                <b>{{comment.getTitle()}}</b> {{comment.getText()}}
              </p>
            </div>
          </div>
          <div [ngClass]="['comments-add','col-sm-12']" data-spy="affix-top">
            <span width="70%"><input type="text" [(ngModel)]="newComment" class="form-text" id="usr"></span>
            <span width="30%" >
              <button class="btn btn-default" (click)="uploadCommentOfSelectedImage()">
                {{localization.items.push}}
              </button>
            </span>
          </div>
        </div>
        <div style="clear: both;">
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #imageUploadModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{localization.items.upload}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideImageUploadModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf="uploader?.queue?.length == 0" ng2FileDrop
            [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}"
            (fileOver)="fileOverAnother($event)"
            
            [uploader]="uploader"
            class="well my-drop-zone">
          {{localization.items.dropzone}}
      </div>
      <div *ngIf="uploader?.queue?.length != 0">
        <div *ngFor="let item of uploader.queue">
          <div><h1>File for upload: {{item.file.name}}</h1></div>
        </div>
      </div>
      <div class="tags-div">
        <rl-tag-input [(ngModel)]="tags" placeholder="+ Tag"></rl-tag-input>
      </div>
      <alert class="alert" *ngIf="recognitionState" type="danger">
        <strong>18+ content</strong> this photo have many (.)(.)
      </alert>
      <div class="button-upload-div">
        <button class="button-upload" (click)="uploadNewImageWithTags()" 
            [disabled]="uploader?.queue?.length == 0">{{localization.items.upload}}</button>
      </div>
    </div>
  </div>
</div>